# Introduction
Anny seriously loves Japanese food so in the beginning of 2021, he decides to embark upon a risky venture and opens up a cute little restaurant that sells his 3 favourite foods: **sushi, curry and ramen.**

Anny’s Diner is in need of your assistance to help the restaurant stay afloat - the restaurant has captured some very basic data from their few months of operation but have no idea how to use their data to help them run the business.

## Problem_statement
Anny wants to use the data to answer a few simple questions about his customers, especially about their visiting patterns, how much money they’ve spent and also which menu items are their favourite. Having this deeper connection with his customers will help him deliver a better and more personalised experience for his loyal customers.

He plans on using these insights to help him decide whether he should expand the existing customer loyalty program - additionally he needs help to generate some basic datasets so his team can easily inspect the data without needing to use SQL.

Danny has provided you with a sample of his overall customer data due to privacy issues - but he hopes that these examples are enough for you to write fully functioning pandas code  to help him answer his questions!

Anny has shared with you 3 key datasets for this case study:

- sales
- menu
- members

In [1]:
import pandas as pd
import numpy as np

In [7]:
sales = pd.read_csv(r"C:\Users\srira\Downloads\sales.csv")
sales
sales.head(10)

  customer_id  order_date  product_id
0           A  2021-01-01           1
1           A  2021-01-01           2
2           A  2021-01-07           2
3           A  2021-01-10           3
4           A  2021-01-11           3
5           A  2021-01-11           3
6           B  2021-01-01           2
7           B  2021-01-02           2
8           B  2021-01-04           1
9           B  2021-01-11           1

In [5]:
menu = pd.read_csv(r"C:\Users\srira\Downloads\menu (1).csv")
menu

   product_id product_name  price
0           1        sushi     10
1           2        curry     15
2           3        ramen     12

In [6]:
members = pd.read_csv(r"C:\Users\srira\Downloads\members (1).csv")
members

  customer_id   join_date
0           A  2021-01-07
1           B  2021-01-09

### 3.Explore the details of all datasets by checking their information.

In [13]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  15 non-null     object
 1   order_date   15 non-null     object
 2   product_id   15 non-null     int64
dtypes: int64(1), object(2)
memory usage: 492.0+ bytes

In [9]:
menu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    3 non-null      int64
 1   product_name  3 non-null      object
 2   price         3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

In [12]:
members.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  2 non-null      object
 1   join_date    2 non-null      object
dtypes: object(2)
memory usage: 164.0+ bytes

In [16]:
sales.dtypes

customer_id    object
order_date     object
product_id      int64
dtype: object

In [18]:
menu.dtypes

product_id       int64
product_name    object
price            int64
dtype: object

In [19]:
members.dtypes

customer_id    object
join_date      object
dtype: object

In [21]:
pf =sales['order_date'] = pd.to_datetime(sales['order_date'])
pf

0    2021-01-01
1    2021-01-01
2    2021-01-07
3    2021-01-10
4    2021-01-11
5    2021-01-11
6    2021-01-01
7    2021-01-02
8    2021-01-04
9    2021-01-11
10   2021-01-16
11   2021-02-01
12   2021-01-01
13   2021-01-01
14   2021-01-07
Name: order_date, dtype: datetime64[ns]

In [23]:
ss = members['join_date'] = pd.to_datetime(members['join_date'])
ss

0   2021-01-07
1   2021-01-09
Name: join_date, dtype: datetime64[ns]

### 4.Make sure that each type of information (like numbers or dates) is stored in the correct way. This helps ensure that the data is accurate and ready for analysis, making your work more reliable and meaningful

In [33]:
merge = pd.merge(sales,menu, on ='product_id', how = 'left')
merge = pd.merge(merge,members, on ='customer_id',how = 'left')
merge

   customer_id order_date  product_id product_name  price  join_date
0            A 2021-01-01           1        sushi     10 2021-01-07
1            A 2021-01-01           2        curry     15 2021-01-07
2            A 2021-01-07           2        curry     15 2021-01-07
3            A 2021-01-10           3        ramen     12 2021-01-07
4            A 2021-01-11           3        ramen     12 2021-01-07
5            A 2021-01-11           3        ramen     12 2021-01-07
6            B 2021-01-01           2        curry     15 2021-01-09
7            B 2021-01-02           2        curry     15 2021-01-09
8            B 2021-01-04           1        sushi     10 2021-01-09
9            B 2021-01-11           1        sushi     10 2021-01-09
10           B 2021-01-16           3        ramen     12 2021-01-09
11           B 2021-02-01           3        ramen     12 2021-01-09
12           C 2021-01-01           3        ramen     12        NaT
13           C 2021-01-01           3        ramen     12        NaT
14           C 2021-01-07           3        ramen     12        NaT

#### What is the total amount each customer spent at the restaurant?

In [41]:
totalspend_of_customer = merge.groupby('customer_id')['price'].sum()
totalspend_of_customer

customer_id
A    76
B    74
C    36
Name: price, dtype: int64

### How many days has each customer visited the restaurant?¶

In [45]:
days_visited_by_customer = merge.groupby('customer_id')['order_date'].unique()
days_visited_by_customer

customer_id
A    [2021-01-01 00:00:00, 2021-01-07 00:00:00, 202...
B    [2021-01-01 00:00:00, 2021-01-02 00:00:00, 202...
C           [2021-01-01 00:00:00, 2021-01-07 00:00:00]
Name: order_date, dtype: object

#### What was the first item from the menu purchased by each customer?

In [47]:
first_item_perched_by_customer = merge.groupby('customer_id')['product_name'].first()
first_item_perched_by_customer

customer_id
A    sushi
B    curry
C    ramen
Name: product_name, dtype: object

##### What is the most purchased item on the menu and how many times was it purchased by all customers?

In [62]:
most_purchased_item = merge['product_name'].value_counts().idxmax()
count_most_purchased_item = merge['product_name'].value_counts().max()
print("\nMost Purchased Item on the Menu:")
print("Product Name:", most_purchased_item)
print("Count:", count_most_purchased_item)

Most Purchased Item on the Menu:
Product Name: ramen
Count: 8

### .Which item was the most popular for each customer?

In [65]:
most_popular_of_customer = merge.groupby('customer_id')['product_name'].value_counts().groupby('customer_id').idxmax()
most_popular_of_customer

customer_id
A    (A, ramen)
B    (B, curry)
C    (C, ramen)
Name: count, dtype: object

#### Which item was purchased first by the customer after they became a member?

In [69]:
first_purchase_after_join = (merge[merge['order_date'] >= merge['join_date']]
                             .groupby('customer_id')['product_name'].first())

first_purchase_after_join

customer_id
A    curry
B    sushi
Name: product_name, dtype: object

In [71]:
total_items_amount_before_join = (merge[merge['order_date'] < merge['join_date']]
                                  .groupby('customer_id').agg({'product_name': 'count', 'price': 'sum'}))
print("\nTotal Items and Amount Spent for Each Member Before Joining:")
print(total_items_amount_before_join)

Total Items and Amount Spent for Each Member Before Joining:
             product_name  price
customer_id
A                       2     25
B                       3     40

#### If each $1 spent equates to 10 points and sushi has a 2x points multiplier - how many points would each customer have?¶

In [73]:
merge['points'] = merge['price'] * 10
merge.loc[merge['product_name'] == 'sushi', 'points'] *= 2

total_points_by_customer = merge.groupby('customer_id')['points'].sum()
print("\nTotal Points for Each Customer:")
print(total_points_by_customer)

Total Points for Each Customer:
customer_id
A    860
B    940
C    360
Name: points, dtype: int64


### 10.In the first week after a customer joins the program (including their join date) they earn 2x points on all items, not just sushi - how many points do customer A and B have at the end of January?

In [75]:
joined_first_week_points = merge[(merge['order_date'] >= merge['join_date']) &
                                     (merge['order_date'] <= merge['join_date'] +
                                      pd.Timedelta(days=6))]['points']
total_points_customer_A = joined_first_week_points[merge['customer_id'] == 'A'].sum()
total_points_customer_B = joined_first_week_points[merge['customer_id'] == 'B'].sum()

print("\nPoints for Customer A in the First Week After Joining:", total_points_customer_A)
print("Points for Customer B in the First Week After Joining:", total_points_customer_B)

Points for Customer A in the First Week After Joining: 510
Points for Customer B in the First Week After Joining: 200